
    <h1>List of Books</h1>
    <a class='btn btn-primary' href='/books/createbook'>Add Book</a>
    <table class='table table-condensed'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <% for(let book of books){  %>
            <tr>
                <td><%= book.title %></td>
                <td><%= book.author%></td>
                <td>
                    <a class='btn btn-sm btn-primary' href='/books/bookdetails/<%=book.id%>'>Details</a>
                    <a class='btn btn-sm btn-primary' href='/books/editbook/<%=book.id%>'>Edit</a>
                    <a class='btn btn-sm btn-danger' href='/books/deletebook/<%=book.id%>'>Delete</a>
                </td>
            </tr>
            <%}%>

        </tbody>

    </table>
