

    <h1>Update Book</h1>
    
    <form method='post' >
        <label for="title" class='field-label'>Title</label>
        <input type='text' name='title' id='title' value='<%=book.title%>' class='form-field' placeholder="title" /> 

        <label for="coverpageurl" class='field-label'>CoverPage Url</label>
        <input type='text' name='coverpageurl' id='coverpageurl' value='<%=book.coverpageurl%>' class='form-field' placeholder="coverpageurl" /> 

        <label for="author" class='field-label'>Author</label>
        <input type='text' name='author' id='author' value='<%=book.author%>' class='form-field' placeholder="author" /> 

        <label for="price" class='field-label'>Price</label>
        <input type='text' name='price' id='price' value='<%=book.price%>' class='form-field' placeholder="price" /> 

        <label for="rating" class='field-label'>Rating</label>
        <input type='text' name='rating' id='rating' value='<%=book.rating%>' class='form-field' placeholder="rating" /> 

        <input type='submit' value='Add Book' class='btn btn-primary' />



    </form>


